In [57]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\naufal ahmad\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\naufal ahmad\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\naufal ahmad\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\naufal ahmad\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\naufal ahmad\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\naufal ahmad\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [76]:
import pandas as pd
ds = pd.read_excel('data-sampah.xlsx', sheet_name='data', index_col=False)
ds

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2017
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2017

In [59]:
print(len(ds))

5

In [77]:
#munjumlahkan data sampah pada tahun 2017
jumlah = 0
tahun = 2017
for i, row in ds.iterrows():
    if row ['tahun']==tahun:
        jumlah += row['jumlah_produksi_sampah']

jumlah = pd.DataFrame({'tahun':[tahun], "jumlah sampah":[jumlah]})
jumlah.to_excel("tahun.xlsx",index=False)
jumlah.to_csv("tahun.csv",index=False)
jumlah

   tahun  jumlah sampah
0   2017        2360.68

In [73]:
#jumlahkan data pertahun
total_pertahun = {}
for i, row in ds.iterrows():
    if row['tahun'] not in total_pertahun:
        total_pertahun[row['tahun']] = 0
    total_pertahun[row['tahun']] += row['jumlah_produksi_sampah']

total_pertahun=pd.DataFrame(total_pertahun.items(), columns=['tahun','jumlah_produksi_sampah'])
total_pertahun.to_excel("tahun.xlsx",index=False)
total_pertahun.to_csv("tahun.csv",index=False)
total_pertahun

   tahun  jumlah_produksi_sampah
0   2015                 2911.57
1   2017                 2360.68

In [78]:
#jumlahkan data perkota per tahun
kota={}
for i, row in ds.iterrows():
    if row['nama_kabupaten_kota'] not in kota:
        kota[row['nama_kabupaten_kota']]={}
    if row['tahun'] not in kota[row['nama_kabupaten_kota']]:
        kota[row['nama_kabupaten_kota']][row['tahun']]=0
    kota [row['nama_kabupaten_kota']][row['tahun']] += row['jumlah_produksi_sampah']
ds = pd.DataFrame(kota)
ds.to_csv('perkota_pertahun.csv')
ds.to_excel('perkota_pertahun.xlsx')
ds

,KABUPATEN BOGOR,KABUPATEN SUKABUMI,KABUPATEN CIANJUR,KABUPATEN BANDUNG,KABUPATEN GARUT
2015,1511.15,419.01,981.41,NaN,NaN
2017,NaN,NaN,NaN,1895.94,464.74